<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Todolist</title>
</head>
<body>

    <div id="app" v-cloak>
        <main>
            <div class="container">
                <h1>To Do List</h1>

                <input type="text" v-model="findTask">

                <div class="list">
                    <ul>
                        <li v-for="(task, i) in searchTask()" 
                        :key="`task-${i}`" 
                        :class="{line: task.done}">
                            <div class="bullet" @click="removeTask(i)">&cross;</div>
                            <span @click="toggle(i)"> {{ task.text }}</span>
                        </li>
                    </ul>
                </div>
                <label for="input-task"></label>
                <input type="text" 
                id="input-task" 
                v-model="newTask" 
                @keyup.enter="addTask">
                <button class="task" @click="addTask()">Add Task</button>
            </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>